@media screen and (max-width: 640px) { /*Permet de rendre la page responsive.*/
    .bloc {
      display:block;
      clear:both;
    }
  }

.page{
    max-width: 60%; /*La taille de la classe "page" est maintenant de 60%*/
    margin: auto;
    font-family: 'Open Sans', sans-serif; /*Police d'écriture de la page*/
    border: 5px solid #512D57; 
    box-shadow: darkviolet;
    padding: 20px;
    background-color: whitesmoke;
}
body {
    text-align: justify; /*Tout le texte contenu dans le "body" est justifié*/
    background-color: #512D57;
    background-position: center;
}

img {
    width: 50%; /*La taille de l'image est de 50%*/
    float: right; /*L'image est positionné sur la droite*/
    margin-right: 25%; /*La marge droite est de 25% afin de centrer l'image*/
}


nav{
    width: 100%; /*La taille de la NavBar est de 100%*/
    background-color: #512D57; /*Couleur de la NavBar*/
    display: inline-block; /*Affiche toutes les catégories en ligne*/

}

ul{
    list-style-type: disc; /*Affiche un disque à coté des items de la liste*/
}

nav li{
    display: inline-block;
    max-width: 15%;
    border-right:1px solid #3E2942; /*bordures séparant les différents onglets*/
}

nav li:first-child  
{
   border-left:1px solid #3E2942; /*Permet de rajouter une bordure à droite*/
}

nav a:hover 
{
   color:#fff;
   background:#AF36C4; /*Permet de changer la couleur lorsque la souris passe sur l'onglet*/
}

li a { /*Permet de changer le style de la liste de la NavBar*/
    display: inline-block;
    color: yellow;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.conteneur{ 
 
    display: table;
    width: 100%;
    border-collapse: separate;
 
}

.conteneur > div{ /*Permet de gérer les divs du headet : taille, forme, couleur, bordures*/
    display: table-cell;
    width: 33.3333%;
    padding: 20px;
    padding-bottom: 10px;
    border: 1px #512D57 solid;
    background: #FFF;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset;
    vertical-align: top;
    border-radius: 5%;
}

.element h1{
    float: center;
    margin-top: 75px;
    text-align: center;
}

.element p{
    text-align: center;
}


.contactrequest p{ /*Permet de gérer les paragraphes du formulaire de contact*/
    width: 30%;
    clear: left;
    margin: auto;
    padding: 3px 0 5px 0;
    padding-left: 15%;
    border-top: 1px dashed gray;
    height: 1%;
    }
    
.contactrequest label{ /*Permet de gérer les labels du formulaire de contact */
    font-weight: bold;
    float: left;
    margin-left: 15%;
    width: 30%;
    }

.contactrequest textarea{ /*Permet de gérer les textarea du formulaire de contact*/
    width: 75%;
    height: 20%;
    }

.buttonrequest{ /*Permet de positionner les deux boutons du formulaire de contact*/
    margin-left: 47%;
    margin-bottom: 1%;
}
